/* Body */
body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #2e3446;
  color: #FFFFFF;
}

.title {
  font-size: 1.4rem;
  font-weight: bold;
}

.subtitle {
  margin-top: 0;
  margin-bottom: 10px;
}

.navHeader {
  display: flex;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin-top: 125px;
}

/* navBar */
nav > ul {
  margin-top: 100px;
  padding: 0;
  max-width: 200px;
  background-color: #f1f1f1;
  height: 100%; 
  position: fixed; 
  z-index: 1000; 
}

nav > ul > li > a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

nav > ul> li > a:hover {
  background-color: #555;
  color: white;
}

nav > ul > li > a.active {
  background-color: #487fd8;
  outline: 5px solid #000;
  color: white;
}


/* Header */
header {
  position: fixed;
  display: flex;
  align-items: center;
  padding: 25px;
  background-color: #487fd8;
  color: white;
  font-size: 0.6rem;
  width: 100%;
  left: 0;
  right: 0;
}

header > img {
  width: 60px;
  margin-right: 5px;
}


/* Footer */
footer {
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: right;
  color: white; 
  font-size: 0.8rem;
}

footer > p {
  margin-right: 15px;
}


/* HomePage and resource pages*/
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 1rem;
}

.resource-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 1rem;
}

.resource-image {
  max-width: 200px;
  max-height: 200px;
}

.item {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  padding: 25px;
  border-radius: 25px;
}

.button {
  padding: 0.5rem 1rem;
  border-style: none;
  border-radius: 0.375rem;
  color: white;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  text-align: center;
  font-size: medium;
  background-color: #487fd8; 
  max-width: 200px;
  cursor: pointer;
}  

/* Resource form pages */
.form {
  color:#000;
  margin-top: 5px;
  display: flex;
  flex-direction:column;
  gap: 5px;
  max-width: 200px;
}

label {
  text-align:start;
  max-width: 200px;
  margin-top: 3px;
}

fieldset {
  margin-top: 3px;
}

input, textarea {
  width: 96%;
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
}

textarea {
  resize: vertical;
  height: 40px;
  max-height: 200px;
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
}

.radiolabel {
  white-space: nowrap;
  display:flex;
  flex-direction: row;
  gap: 5px;
}
.radio-field {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.info-detail {
  font-size: 12px;
}

.field-button, .submit-button {
  background-color: #487fd8;
  color:#f1f1f1;
  border: 2px solid #487fd8;
  border-radius: 0.375rem;
  font-family: "inter", sans-serif;
  font-size: small;
  cursor: pointer; 
}

.field-button {
  margin-right: 1px;
  min-width: 20px;
  max-width: 20px;
  min-height: 20px;
  max-height: 20px;
}

.submit-button {
  height: 30px;
}




/* for small windows so that content isn't behind navbar */
@media (max-width: 768px) {
  .title {
    margin-left: 166px;
  }
  
  .subtitle{
    margin-left: 160px;
  }

  .grid-container {
    grid-template-columns: 1fr; /* only 1 column if window is thinner */
    margin-left: 160px;
  }

  .resource-container {
    grid-template-columns: 1fr; /* only 1 column if window is thinner */
    margin-left: 160px;
  }

  footer{
    text-align: center;
  }
  footer > p {
    margin-left: 160px;
  }
}
