/* ========== FORM STYLES ========== */
.form {
  color:var(--text-dark);
  margin-top: 0.3125rem;
  display: flex;
  flex-direction:column;
  gap: 0.3125rem;
  max-width: 12.5rem;
}

label {
  text-align:start;
  max-width: 12.5rem;
  margin-top: 0.1875rem;
}

fieldset {
  margin-top: 0.1875rem;
}

input, textarea {
  width: 96%;
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
}

textarea {
  resize: vertical;
  height: 2.5rem;
  max-height: 12.5rem;
}

.radiolabel {
  white-space: nowrap;
  display:flex;
  flex-direction: row;
  gap:  0.3125rem;
}

.radio-field {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.info-detail {
  font-size: 0.75rem;
}

.update-info-detail {
  color: var(--primary);
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 0.4375rem;

}

.field-button, .submit-button {
  background-color: var(--primary);
  color:var(--text-light);
  border: 0.125rem solid var(--primary);
  border-radius: 0.375rem;
  font-family: "inter", sans-serif;
  font-size: small;
  cursor: pointer; 
}

.field-button {
  margin-right: 0.0625rem;
  min-width: 1.25rem;
  max-width: 1.25rem;
  min-height: 1.25rem;
  max-height: 1.25rem;
}

.submit-button {
  height: 1.875rem;
  font-size: 1.0625rem;
}

.success-message {
  color: var(--success);
  font-weight: bold;
}

.error-message {
  color: var(--error);
  font-weight: bold;
  text-align: center;
}

.spinner {
  display: inline-block;
  border: 0.125rem solid var(--primary);
  border-top: 0.125rem solid var(--text-light);
  border-radius: 50%;
  width: 0.625rem;
  height: 0.625rem;
  vertical-align: middle;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.submit-information {
  max-width: 12.5rem;
}

.retrieved-data {
  color: var(--text-dark);
  text-align: left;
}

.results-title {
  color:var(--primary);
  font-size: large;
  margin-bottom: 0.3125rem;
}

.retrieved-data > ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0.4375rem;
  margin-top: 0;
  border-bottom: dotted var(--primary); 
}

.pagination-controls {
  display: flex;
  gap: 0.0625rem;
  font-family: "Inter", sans-serif;
  font-size:small;
  align-items: center;
}

.pagination-controls > button {
  border-style: none;
  border-radius: 0.375rem;
  color: var(--text-light);
  background-color: var(--primary);  
  max-height: 1.25rem;
  cursor: pointer;
}

.confirm-delete {
  color: var(--text-dark);
  text-align: middle;
}

.confirm-delete > button {
  font-family: "Inter", sans-serif;
  border-style: none;
  border-radius: 0.2rem;
  color: var(--text-light);
  background-color: var(--primary); 
  cursor: pointer;
  margin: 0.1875rem;
  padding: 0.3125rem;
}
